html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* needed the following code for background image to
    work properly. Found the "overflow-x" on a forum */
    background-image: url("Images/concert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 80%;
    /* keep "singing man" in viewport */
    width: 100%;
    height: 100vh;
    overflow-x: hidden !important;
}


/* All content organized in a big flex-box */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



/* sticky header */

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}



/* Announcement Bar classes */

.announcement-bar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.announcement-bar p {
    animation: blinkFade 3s infinite;
}



/* Navigation Bar classes */

.nav-container {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 70%);
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.nav-items {
    display: grid;
    list-style-type: none;
    width: 50%;
    margin-right: 2%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    transition: color 0.2s;
}

.nav-items a:hover {
    color: rgba(200, 200, 255, 0.7);
}




/* Hero Image classes */

.hero-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 150px;
}

.hero-logo h1 {
    color: white;
    font-size: 2vw;
    margin-top: 50px;
}

.hero-logo img {
    width: 50%
}





/* Home page classes */

.main-content {
    display: flex;
    flex-direction: column;
}

.featured-event {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 23%;
    margin: 15% 0;
}

.transparency-container {
    mask-image: linear-gradient(to right, black 40%, transparent 70%);
    width: 70%;
}

.feat-image {
    object-fit: none;
    object-position: -320px -130px;
}

.feat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
    gap: 50px;
}

.more-events {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    width: 150px;
    padding: 10px 0;
}

.more-events:hover {
    background-color: rgba(220, 220, 255, 0.3);
    transform: translateY(-2px);
}

.about-container {
    width: 60%;
    text-align: center;
    background: linear-gradient(rgba(0, 5, 5, 1), rgba(0, 5, 5, 0.5), rgba(0, 5, 5, 1));
    color: white;
    border-radius: 10px;
    padding: 70px 5px;
    margin: 150px auto;
}




/* Event classes */

.event-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    margin: 20% auto;
}

.event-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 100%;
    height: 200px;
    padding: 30px 20px;
    margin-bottom: 40px;
}

#j-camp {
    width: 250px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

#winans {
    width: 250px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 30%;
}

#k-country {
    width: 250px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.event-container h1 {
    text-align: center;
    padding-bottom: 60px;
}

.event-container h3 {
    font-weight: 500;
}



/* Menu Classes */

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 60%;
    margin: 20% auto;
}

.main-menu h1 {
    text-align: center;
    margin-bottom: 50px;
}

.main-menu table {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    width: 100%;
}

.main-menu th {
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 2rem;
    font-size: larger;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.main-menu td {
    text-align: center;
    line-height: 1.5rem;
}

.main-menu tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



/* Location classes */

.main-location-content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 60%;
    padding: 50px 0px;
    margin: 200px auto;
}

.main-location-content img {
    opacity: 0.7;
    width: 50%;
    padding-top: 50px;
}



/* Contact Us classes */

#contact-header {
    margin: 200px auto 50px auto;
    font-weight: lighter;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin: 5% 10%;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

.personal {
    line-height: 1.5rem;
    width: 47%;
    align-self: center;
}

.sub-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: white 2px solid;
    width: 150px;
    align-self: center;
    margin-top: 20px;
    padding: 10px 0px;
    transition: all 0.2s;
}

.sub-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
    box-shadow: 0px 3px 15px 3px #030303;
    cursor: pointer;
}

.sub-btn:active {
    background-color: rgba(150, 200, 255, 0.6);
    transform: none;
    box-shadow: none;
    border-color: rgba(150, 200, 255, 1);
}


/* Footer classes */

.footer-container {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    height: 20%;
    background:
        linear-gradient(to top, rgba(0, 5, 5, 1) 50%, rgba(0, 5, 5, 0));
    padding-top: 50px;
}

.footer-container p {
    color: white;
    margin: auto;
}


/* Media queries */

@media screen and (max-width: 950px) {
    .nav-container {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .nav-items {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
    }

    .hero-logo img {
        width: 70%
    }

    .featured-event {
        flex-direction: column;
        margin-bottom: 20%;
    }

    .transparency-container {
        mask-image: linear-gradient(to right, black 90%, transparent);
        width: 70%;
        height: 100%;
    }

    .feat-info {
        align-self: center;
        place-items: center;
    }

    .about-container {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 600px) {
    .announcement-bar p {
        font-size: x-small;
    }

    .nav-items {
        padding: 0;
    }

    .nav-items a {
        font-size: x-small;
    }

    .hero-logo h1 {
        font-size: 70%;
    }

    .featured-event {
        flex-direction: column;
        margin-bottom: 60%;
    }

}


/* Animations */

@keyframes blinkFade {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1.0;
    }
}